html, body {
	font-family: "Open Sans", "Helvetica", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6;
}

code, pre {
	font-family: "Consolas", "Inconsolata", monospace;
	line-height: 1.2;
}

ol, ul {
	padding-left: 20px;
	/*margin-left: -20px;*/
}

ul {
	list-style-type: circle;
}

h1, h2 {
	font-weight: 600;
}

h1 {
	font-size: 218%;
}

h2 {
	font-size: 164%;
}

h3 {
	font-size: 145%;
	font-weight: 600;
}

h4 {
	font-size: 118%;
	font-weight: 600;
}
