@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import "mixins.less";
@import "typography.less";
@import "golden-ratio-typography.less";

@gutter: 25px;

/*@r1: ~"(-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi)";*/
/*@r15: ~"(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)";*/
/*@r2: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";*/

//used for golden ratio typography
@font-size: 14px;
@font-color: rgba(255,255,255,0.9);
@background: #2f2f2f;
@section-border-size: 1px;
@section-border-color: #777;

html, body {
	height: 100%;
	width: 100%;
	/*line-height: 1.2;*/
	/*background-color: #202020;*/

	color: @font-color;
	letter-spacing: 0.05em;
	background-color: @background;

	/*-webkit-user-select: none;*/
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
	/*-webkit-text-size-adjust: none;*/
	/*-webkit-touch-callout: none; */
}

@modules-width: 200px;
@modules-outer-width: @modules-width + @gutter * 2 + @section-border-size;
#modules {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: @modules-width;
	padding: @gutter;
	padding-top: 10px;
	background-color: lighten(@background, 3%);
	border-right: @section-border-size solid @section-border-color;

	overflow: auto;

	& > h2 {
		margin-top: 0;
		color: darken(#ffffff, 25%);
	}

	ul {
		display: block;
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style-type: none;
		}

		.section-header {
			display: block;
			padding: 10px 0;
			font-size: 16px;
			font-weight: bold;
		}

		li ul li .section-header {
			font-size: inherit;
			font-weight: normal;
		}
	}

	.highlight
	{
		color: #F0DFAF;
	}
}


@header-outer-height: 55px;
@header-height: @header-outer-height - (10px * 2);
#header {
	position: absolute;
	top: 0;
	left: @modules-outer-width;
	right: 0;
	height: @header-height;
	padding: 10px 0 10px @gutter;
	background-color: darken(@background, 2%);
	/*border-bottom: @section-border-size solid @section-border-color;*/

	h2 {
		margin: 0;
	}
}


@taglist-width: 200px;
@taglist-outer-width: @taglist-width + @gutter * 2;
#taglist {
	position: absolute;
	top: @header-outer-height - 1;
	left: @modules-outer-width;
	bottom: 0;
	width: @taglist-width;
	padding: @gutter;
	background-color: darken(@background, 2%);
	/*border-right: @section-border-size solid @section-border-color;*/

	overflow: auto;

	& > h2 {
		display: none;
	}

	& > div {
		position: relative;
		top: -30px;
	}

	ul {
		display: block;
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style-type: none;
		}

	}

	h3 {
		font-size: 16px;
		color: darken(#ffffff, 25%);

		a {
			color: darken(#ffffff, 25%);
			text-decoration: none;
		}
	}

	.highlight,
	.highlight a,
	{
		color: #F0DFAF;
	}
}

#main {
	position: absolute;
	top: @header-outer-height;
	left: @modules-outer-width + @taglist-outer-width;
	right: 0;
	bottom: 0;
	padding: 0 @gutter;
	border-top: @section-border-size solid @section-border-color;
	border-left: @section-border-size solid @section-border-color;
	background-color: @background;

	.transition(top 0.7s ease, left 0.7s ease);

	&.initial {
		top: 0;
		left: @modules-outer-width;
		border-left: 0px none;
	}

	overflow: auto;


	p, ul {
		.golden-auto(@font-size, @mu-open-sans, 70, 50);
		margin: @gutter 0;
	}

	h2, h3 {
		margin: @gutter 0;
	}

	code {
		letter-spacing: 0;
		background: #3F3F3F;
		margin: 2px 0;
		padding: 0 3px;
		.border-radius(3px);
		border: 1px solid lighten(#3f3f3f, 10%);
	}

	pre {
		width: round(80 * (@font-size / @mu-inconsolata));
		padding: @gutter;
		margin: @gutter 0;
		background: #3F3F3F;
		border: 1px solid lighten(#3f3f3f, 10%);
		.border-radius(3px);

		& > code {
			border: 0 none;
			padding: 0;
		}

	}


	.section {
		margin-left: -1 * @gutter;
		margin-right: -1 * @gutter;
		padding: 0 @gutter;

		.section-header {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: -1 * @gutter;
			margin-right: -1 * @gutter;
			padding: @gutter;
			color: darken(#ffffff, 25%);
			background: lighten(@background, 7%);
		}
	}


	.subsection
	{
		@hover-color: #F0DFAF;

		position: relative;
		margin: 0 (-1 * @gutter);
		padding: 1px @gutter - 5px;
		border-width: 0 5px;
		border-color: transparent;
		border-style: solid;


		&:nth-child(odd) {
			background-color: @background;
		}

		&:nth-child(even) {
			background-color: lighten(@background, 3%);
		}

		h4.getter {
			margin-bottom: 0.2em;
		}

		h4.setter {
			margin-top: 0.2em;
		}

		.scope, .accessor {
			color: fadeout(@font-color, 30%);
		}

		.accessor {
			.inline-block();
			width: 31px;
		}

		.meta {
			display: block;
			position: absolute;
			top: @gutter / 2;
			right: 0;
			width: 48px;
			text-align: right;

			.permalink, .srclink {
				display: block;

				width: 23px;
				height: 23px;
				line-height: 23px;

				padding: 5px 15px 5px 10px;
				.border-radius(5px 0 0 5px);

				text-align: center;
				vertical-align: top;
				text-decoration: none;
				color: @hover-color;

				.opacity(0);

				&:hover {
					background: @hover-color;
					color: @background;
				}

				i {
					position: relative;
				}
			}

			.permalink {
				font-size: 18px;
			}

			.srclink {
				font-size: 23px;
			}
		}


		&.highlight,
		&:hover
		{
			border-color: @hover-color;

			.permalink, .srclink {
				.opacity(1);
			}
		}

	}


	.params {
		& > .paren:first-child {
			padding-right: 5px;
		}

		& > .paren:last-child {
			padding-left: 5px;
		}

		.param + .opt {
			padding-left: 5px;
		}

		.opt, .or {
			color: darken(@font-color, 40%);
		}

		.or {
			margin: 0 -2px;
			font-size: 20px;
			font-weight: 400;
		}
		
		.opt {
			position: relative;
			top: 1px;
			font-size: 23px;
			font-weight: 300;
		}

		.sep {
			padding: 0 5px 0 3px;
		}
	}

}



a {
	/*color: saturate(#8CD0D3, 30%);*/
	color: #8cd0d3;
	/*color: rgba(187, 187, 255, 0.9);*/
	text-decoration: none;
	font-weight: 600;

	&:hover {
		text-decoration: underline;
	}
}
